@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
    background-color:hsl(212, 45%, 89%) ;
    height: 100vh;
    display: grid;
    place-items: center;
}

#container {
    width: 300px;
    height: 460px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    flex-wrap: wrap;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow: 4px 16px 45px -9px #b8b4b8;
}
img {
    width: 290px;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    font-size: 19px;
    margin: 5px;
    width: 250px;
    margin-top: 20px;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width: 250px;
}

.attribution {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 375px){
    body {
        font-size: 20px;
    }
}
